* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 3rem;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

h1 {
  text-align: left;
  padding: 3rem;
}

p {
  font-size: 30px;
}

.score-wrap {
  display: flex;
  gap: 5rem;
  justify-content: space-around;
}

.scores-card {
  display: flex;
  flex-direction: column;
}

.score-heading {
  display: flex;
  flex-direction: row;
  gap: 5em;
}

#refresh {
  width: 90px;
  border-radius: 5px;
}

ul {
  list-style: none;
  border: 1px solid black;
  margin-top: 1rem;
}

li {
  padding: 1rem;
}

li:nth-child(even) {
  background-color: rgb(148, 145, 145);
}

#form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 8px;
  width: 300px;
}

input {
  padding: 5px;
  border-radius: 5px;
}

#submit {
  width: 33%;
  margin-left: auto;
}
